.bg-primary{
    background-color: #2a2a6e !important;
}

.active{
    color: antiquewhite !important;
}

.nav-item{
    font-size: 20px !important;
    margin-left: 40px !important;

}

.navbar-brand{
    margin-left: 65px !important;
    font-size: 29px !important;
    font-weight: 500 ;
    color: antiquewhite !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link {
    transition: transform 0.2s; /* Agrega una transición suave */
  }

  .nav-link:hover {
    transform: scale(1.3); /* Escala el elemento a un 10% más grande al pasar el mouse */
    color: brown !important;
  }


nav{
    background-color: rgb(25, 25, 112);

}



.bg-custom {
    background-image: url('kf.png');
    background-size: cover;
    background-position: center;
}

/* Asegura que la imagen de fondo cubra toda la altura de la fila */
.row.full-height {
    min-height: 100vh; /* Ajuste de altura completa (100% de la altura de la ventana) */
}



.img-pequena {
    width: 600px !important; /* Ajusta este valor al deseado, p.ej., 50% para hacerla más pequeña */
    height: 100%; /* Mantiene la proporción de la imagen */
}

.full-height {
    min-height: 100vh; /* Asegura que el contenedor tenga al menos la altura de la ventana del navegador */
}


.bg-color{
    background-color: rgba(146, 146, 146, 0.103) !important;
}

.contratame{
    width: 230px;
    text-align: center !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    border-radius: 50px !important;
}
